
<div class="group-show">
    <div class="show-group-chat-back">
        <span class="group-show-group-chat-back">
            <%= link_to groups_path do %>
                ＜
            <% end %>
        </span>
    </div>

    <div>
      <p class="h3"><%= @group.name %></p>
    </div>
    <div class="chat-group-show-talk">
        トーク
    </div>
    <form>
      <label>Say something:</label><br>
      <input type="text" data-behavior="room_speaker">
    </form>
    <div id ='messages'>
      <%= @group.user_ids %><%= render @messages %>
    </div>
</div>
