
<div class="container group-show">
  <div class="row show-group-chat-back">
      <span class="col group-show-group-chat-back mt-2">
          <%= link_to groups_path do %>
            ＜
          <% end %>
      </span>
  </div>
  <div class="row">
    <div class="col mt-5">
      <p class="h3"><i class="bi bi-people me-1"></i><%= @group.name %></p>
    </div>
    <div class="chat-group-show-talk mt-3">
        トーク
    </div>
    <form>
      <label>Say something:</label><br>
      <input type="text" data-behavior="room_speaker">
    </form>
    <div id ='messages'>
     <%= render @messages %>
    </div>
  </div>
</div>
