<div class="row-md-12   text-center m-5 p-0">
  <div class="col">
    <h1 class="information mb-3" >お問い合わせ</h1>
  </div>
  <div class="col">
    <p>サービス利用に関するご相談やお問い合わせにつきましては下記TwitterのDMへお問い合わせください</p>
  </div>
</div>
