<head class="overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col cover-img" style="background-size: cover; background-image:url('https://lh3.googleusercontent.com/pw/AL9nZEXj5i0vygHyi2_3-KwNBrdj_OT9BBsFZGjc-89K_GOqC_F3-JTg2rBk3M4pqgYB6GBGHxm3elEvlEo-Wdd_jw6WyIBrGGbnJCXn1OZ4cuVEdkw-QsGF8ucitCwBDEm5flcZ3RigG82bYWyC0oaEc2k1=w2000-h1330-no?authuser=0');height: 500px;  ">
        <div class="cover-text text-end">
          <section class="row">
            <section class="col m-5 d-none d-md-block"">
              <p class="h4">朝活　習慣化アプリ　　</p>
              <p class="display-2 fw-bold">「 Habit 」</p>
              <p class="h4">毎日の小さな積み重ねが大きな成長に。</p>
            </section>
            <section class="col mt-3  d-md-none text-start">
              <p class="h5 text-light">朝活　習慣化アプリ　　</p>
              <p class="display-2 fw-bold text-light">「 Habit 」</p>
              <p class="h5 text-light">毎日の小さな積み重ねが大きな成長に。</p>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</head>

<main id="statics-index" class="overflow-hidden">
  <div class="container">
    <section class="row">
      <section class="col-md-5 mt-4 mb-5 ms-5 fs-5">
        <br><br><br>
        <p class="mt-5">今の自分を変えたい。</p>
        <p>何かの目標に向かって頑張りたい。</p>
        <p>そんなあなたにおすすめのサービス。</p>
      </section>
      <section class="col-md-6 ps-0"><br><br><br>
        <figure class="me-auto pb-5"><img src="/images/IMG_3524.jpg" class=""></figure>
      </section>
    </section>
  </div>

    <div class="row text-center">
      <div class="col">
        <h1 class="title m-5 p-3">Habitとは？</h1>
      </div>
    </div>
    <div clss="row">
      <div class="col text-center mt-4">
        <h2 class="p-3">サービスの特徴</h2><hr>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col">
        <h3><i class="bi bi-search me-1" style="color:blue"></i>習慣化に関する知識が身につく</h3>
        <p>習慣化に関する記事の引用。</p>
      </div>
      <div class="col">
        <h3 class="content-title"><i class="bi bi-arrow-up me-1" style="color:blue"></i>モチベーションが上がる</h3>
        <p>行動するとランクが上がり、<br>モチベーションの向上に繋がります。</p>
      </div>
      <div class="col">
        <h3 class="content-title"><i class="bi bi-eyeglasses me-1" style="color:blue"></i>皆んなの目標が見れる</h3>
        <p>同じような目標を持っている人を探せます。<br>自分の目標の参考にできます。</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col mt-5">
        <h2 class="pb-3">サービスの使い方</h2><hr>
      </div>
    </div>
    <div class="row text-center mt-5">
      <div class="col">
        <h3 class="content-title"><i class="bi bi-pencil-square me-1" style="color:blue"></i>習慣化したい目標を入力</h3>
        <p>目標、行動を入力。</p>
      </div>
      <div class="col">
        <h3 class="content-title"><i class="bi bi-record me-1" style="color:blue"></i>行動を記録する</h3>
        <p>カレンダーに行動を記録します。</p>
      </div>
      <div class="col">
        <h3 class="content-title"><i class="bi bi-flag me-1" style="color:blue"></i>目標達成する</h3>
        <p >3週間連続で行動を記録すれば、目標を達成とし習慣化認定。<br>習慣化認定された目標はリスト化される。</p>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <p>Habitの使い方</p>
      <a>①目標を設定しよう！</a>
      <div class="col">
        <figure class="me-auto pb-5">
        <%= image_tag '/images/IMG_4357.jpeg', :size =>'320x480' %>
        </figure>
      <div>
      <div class="col">
        <figure class="me-auto pb-5">
        <%= image_tag '/images/IMG_4358.jpeg', :size =>'320x480' %>
        </figure>
      <div>
      <div class="col">
        <figure class="me-auto pb-5">
        <%= image_tag '/images/IMG_4359.jpeg', :size =>'320x480' %>
        </figure>
      <div>
    </div>
    <div class="row">
      <p>②タイムラインで皆んなの投稿を確認してみよう！</p>
      画像3枚
    </div>
    <div class="row">
      <p>③毎日の行動をカレンダーに付けていこう！</p>
      画像3枚
    </div>



    <div class="row">
      <div class="col">
      </div>
    </div>


    <div class="row">
      <div class="col">
      </div>
    </div>


    <div class="row">
      <div class="col">
      </div>
    </div>


  </div>

</main>
