<main>
  <div class="container">
    <div class="row">
      <p>Habitの使い方</p>
      <a>①目標を設定しよう！</a>
      <div class="col">
        <%= img_tag"">
      </div>
    </div>
    <div class="row">
      <p>②毎日の行動をカレンダーに付けていこう！</p>
      画像3枚
    </div>
    <div class="row">
      <p>③タイムラインで皆んなの投稿を確認してみよう！</p>
      画像3枚
    </div>



    <div class="row">
      <div class="col">
      </div>
    </div>


    <div class="row">
      <div class="col">
      </div>
    </div>


    <div class="row">
      <div class="col">
      </div>
    </div>


  </div>
</main>
